<ion-view view-title="我的收货地址" class="gray-color-bg">
	<ion-nav-buttons side="right">
	  <a class="button  button-calm" href="#/tab/cart-address-add">
	  	新增
	  </a>
  	</ion-nav-buttons>
	<ion-content scroll="true" scrollbar-y="false" has-bouncing="true">
	

	<ul class="list">

	  <li class="item item-checkbox">
	     <label class="checkbox" style="right:initial;">
	       <input type="checkbox" checked>
	     </label>
	     <a class="option-address-area" href="#/tab/cart-address-edit">
		<!-- 有地址时候的显示 -->
			<div class="has-address">
				<h4 class="user-name">黄小米<span class="float-right">18973291036</span></h4>
				<ul class="address-info small">
					<li>长沙市-雨花区</li>
					<li class="font-overflow" style="width:90%">万家丽路2345号万科金域华府3栋1104</li>
				</ul>
			</a>
			<a class="position-right-bottom icon-round-style icon-bin" href='javascript:void(0)'></a>
		 </div>
	  </li>

	  <li class="item item-checkbox">
	     <label class="checkbox" style="right:initial;">
	       <input type="checkbox" checked>
	     </label>
	     <a class="option-address-area" href="#/tab/cart-address-edit">
		<!-- 有地址时候的显示 -->
			<div class="has-address">
				<h4 class="user-name">黄小米<span class="float-right">18973291036</span></h4>
				<ul class="address-info small">
					<li>长沙市-雨花区</li>
					<li class="font-overflow" style="width:90%">万家丽路2345号万科金域华府3栋1104</li>
				</ul>
			</a>
			<a class="position-right-bottom icon-round-style icon-bin" href='javascript:void(0)'></a>
		 </div>
	  </li>


	</ul>
	


	</ion-content>
</ion-view>
