<ion-view view-title="编辑收货地址" class="gray-color-bg">
	<ion-nav-buttons side="right">
	  <a class="button  button-calm" href="#/tab/cart-address-list">
	  	保存
	  </a>
  	</ion-nav-buttons>
	<ion-content scroll="true" scrollbar-y="false" has-bouncing="true">
	

	<div class="list address-list-edit">
	  <label class="item item-input">
	    <span class="input-label">联系人：</span>
	    <input type="text">
	  </label>
	  <label class="item item-input">
	    <span class="input-label">联系方式：</span>
	    <input type="tel">
	  </label>
	  <label class="item item-input item-select">
	    <div class="input-label">
	      所在区域：贵阳市
	    </div>
	    <select>
	      <option selected>请选择</option>
	      <option>云岩区</option>
	      <option>南明区</option>
	      <option>白云区</option>
	      <option>乌当区</option>
	      <option>花溪区</option>
	      <option>小河区</option>
	      <option>清镇市</option>
	      <option>修文县</option>
	      <option>开阳县</option>
	      <option>息烽县</option>
	    </select>
	  </label>
	  <label class="item item-input">
	    <span class="input-label">收货地址：</span>
	    <input type="tel">
	  </label>

	  <div class="alert-area">请输入您正在使用的电话号码和正确的地址！！！</div>
	  
	  <div class="padding">
		  <a href="#/tab/cart-address-list" class="button button-light button-full">删除地址</a>
	  </div>
	</div>
	

	</ion-content>
</ion-view>
