<ion-view view-title="选择支付方式" class="gray-color-bg">

	<ion-content scroll="true" scrollbar-y="false" has-bouncing="true">
	
	<div class="list">

		<label class="item item-radio">
		    <input type="radio" name="group" checked>
		    <div class="item-content">
		      微信支付
		    </div>
		    <i class="radio-icon ion-checkmark"></i>
		</label>

		<label class="item item-radio">
		    <input type="radio" name="group" >
		    <div class="item-content">
		      货到付款
		    </div>
		    <i class="radio-icon ion-checkmark"></i>
		</label>


	</div>


	</ion-content>
</ion-view>
