<ion-view view-title="登录" hide-nav-bar='true'>

<ion-content>
	
	<div class="logo-img">
		<div class="logo"></div>
	</div>
	
  <div class="list padding">
    <label class="item item-input">
      <span class="input-label">用户名</span>
      <input type="text" placeholder="请输入用户名" ng-model="user.username">
    </label>
    <label class="item item-input">
      <span class="input-label">密  码</span>
      <input type="password" placeholder="请输入密码" ng-model="user.password">
    </label>
  </div>
  <div class="padding" style="padding-right:140px; position: relative;">
    <button class="button button-block button-balanced" ng-click="signIn()">
      立即登录 
    </button >
     <a class="button button-block button-energized button-register-style" href="#/register" style="position:absolute; right:10px; top:0;">新用户注册 <i class="ion-chevron-right"></i>
  </a>
  </div>
   
      
</ion-content>

  </ion-view>