<ion-view view-title="长沙市">
	<ion-nav-buttons side="right">
	  <a class="button  button-calm" href="#/tab/childrenlist" >
	  	加入购物车
	  </a>
  	</ion-nav-buttons>
	<ion-content scroll="true" scrollbar-y="false" has-bouncing="true">
	<div class="index-banner"><a href="#"><img src="images/adad_17.jpg"></a></div>
		<div class="boxmain">

		      <!-- Swiper -->
		    <!-- <div class="swiper-container">
		        <div class="swiper-wrapper">
		            <div class="swiper-slide"><img src="images/ad_02.jpg" alt="" /></div>
		            <div class="swiper-slide">Slide 2</div>
		            <div class="swiper-slide">Slide 3</div>
		        </div>
		        
		        <div class="swiper-pagination"></div>
		    </div> -->
			

			<div class="list cp-img-list">

			    <div class="item item-thumbnail-left" ng-repeat="product in products ">
			      <img src="{{product.imgsrc}}">
			      <h2 ng-bind="product.name"></h2>
			      <p>规格：{{product.num}} <span class="float-right">单位：{{product.dw}}</span></p>
			      <h4 class="price">￥55</h4>
			      <ul class="clearfix count-ul">
		              <li class="minus" >-</li>
		              <li class="count"><input type="tel" value="0" class="input-noborder"></li>
		              <li class="plus">+</li>
		          </ul>
			    </div>
			   

			</div>

		    
		</div>
		
		<!-- <div class="box-bottom">
	      <a class="btn btn-large btn-full btn-primary add-shopcat" >加入购物车</a>

	      <div class="buy-area" style="display:none;">
	        <ul class="count-list">
	          <li><span class="name">合计总金额</span><span class="count">￥{{totalPrice}}</span></li>
	          <li><span class="name small">运费</span><span class="count ">￥{{cost}}</span></li>
	        </ul>
	        <a class="btn-primary buy-button" >下单</a>
	      </div>

	    </div> -->

	</ion-content>
</ion-view>
