<ion-view view-title="订单">
	<ion-content scroll="true" scrollbar-y="false" has-bouncing="true">

    <div class="time-nav ">
        <ul class="clearfix">
            <li class="active"><a href="" >待确定</a></li>                        
            <li><a href="">待付款</a></li>
            <li><a href="">待收货</a></li>
            <li><a href="">全部订单</a></li>
        </ul>
    </div>

	<div class="box">
	    <div class="ge-time">
	            <!--订单列表  -->
	        <div class="time-main">
	            <div class="time-tile clearfix">
	                <span class="tile-left">订单状态：<b class="red">待确认</b></span>
	                <button class="button button-calm float-right">我要订货</button>   
	            </div>
	            <div class="time-tine">
	               <ul>      
	                   <li><span class="width">订单编号</span><span class="width1">1531751831726</span></li>
	                   <li><span class="width">下单时间</span><span class="width1">2015-02-26 09:00</span></li>
	                   <li><span class="width">订单金额</span><span class="width1 red">￥1398.00</span></li>
	                   <li><span class="width">送货地址</span><span class="width1">长沙市芙蓉中路388号3区8栋291</span></li>
	               </ul>
	               <ol></ol>
	            </div>
	        </div>
	         <!--/订单列表  -->
	         <!--订单列表  -->
	        <div class="time-main">
	            <div class="time-tile clearfix">
	                <span class="tile-left">订单状态：<b class="red">待付款</b></span>
	                <button class="button button-calm float-right">我要支付</button>   
	            </div>
	            <div class="time-tine">
	               <ul>      
	                   <li><span class="width">订单编号</span><span class="width1">1531751831726</span></li>
	                   <li><span class="width">下单时间</span><span class="width1">2015-02-26 09:00</span></li>
	                   <li><span class="width">订单金额</span><span class="width1 red">￥1398.00</span></li>
	                   <li><span class="width">送货地址</span><span class="width1">长沙市芙蓉中路388号3区8栋291</span></li>
	               </ul>
	               <ol></ol>
	            </div>
	        </div>
	         <!--/订单列表  -->
	         <!--订单列表  -->
	        <div class="time-main">
	            <div class="time-tile clearfix">
	                <span class="tile-left">订单状态：<b class="lv">待收货</b></span>
	             <!--    <a href="" class="tile-right">我要支付</a>    -->   
	            </div>
	            <div class="time-tine">
	               <ul>      
	                   <li><span class="width">订单编号</span><span class="width1">1531751831726</span></li>
	                   <li><span class="width">下单时间</span><span class="width1">2015-02-26 09:00</span></li>
	                   <li><span class="width">订单金额</span><span class="width1 red">￥1398.00</span></li>
	                   <li><span class="width">送货地址</span><span class="width1">长沙市芙蓉中路388号3区8栋291</span></li>
	                   <li><span class="width">送货时间</span><span class="width1">2015-02-27 17:00</span></li>   
	               </ul>
	               <ol></ol>
	            </div>
	        </div>
	         <!--/订单列表  -->
	         <!--订单列表  -->
	        <div class="time-main">
	            <div class="time-tile clearfix">
	                <span class="tile-left">订单状态：<b class="hei">已收货</b></span>
	             <!--    <a href="" class="tile-right">我要支付</a>    -->   
	            </div>
	            <div class="time-tine">
	               <ul>      
	                   <li><span class="width">订单编号</span><span class="width1">1531751831726</span></li>
	                   <li><span class="width">下单时间</span><span class="width1">2015-02-26 09:00</span></li>
	                   <li><span class="width">订单金额</span><span class="width1 red">￥1398.00</span></li>
	                   <li><span class="width">送货地址</span><span class="width1">长沙市芙蓉中路388号3区8栋291</span></li>
	                   <li><span class="width">收货时间</span><span class="width1">2015-02-27 17:00</span></li>   
	               </ul>
	               <ol></ol>
	            </div>
	        </div>
	         <!--/订单列表  -->
	        
	    </div>
    </div>
	</ion-content>
</ion-view>
