 <ion-tabs class="tabs-icon-top tabs-positive" ng-class="{tabshide:hidetabs}">
    
    <ion-tab title="商城" icon=" icon-home" href="#/tab/mall">
      <ion-nav-view name="mall-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="购物车" badge="2" badge-style="badge-assertive" icon="icon-shopping-cart" href="#/tab/cart">
      <ion-nav-view name="cart-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="我的订单" icon="icon-cargo"  href="#/tab/order">
      <ion-nav-view name="order-tab"></ion-nav-view>
    </ion-tab>
	
	<ion-tab title="个人中心" icon="icon-user" href="#/tab/profile">
      <ion-nav-view name="my-tab"></ion-nav-view>
    </ion-tab>
    
  </ion-tabs>