 <ion-tabs class="tabs-icon-top tabs-positive" ng-class="{tabshide:hidetabs}">
    
    <ion-tab title="商城" class="tab-ico tab-mall-ico" href="#/tab/mall">
      <ion-nav-view name="mall-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="购物车" class="tab-ico tab-cart-ico"  badge="2" badge-style="badge-assertive"  href="#/tab/cart">
      <ion-nav-view name="cart-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="我的订单" class="tab-ico tab-order-ico"   href="#/tab/order">
      <ion-nav-view name="order-tab"></ion-nav-view>
    </ion-tab>
	
	<ion-tab title="个人中心"  class="tab-ico tab-profile-ico"  href="#/tab/profile">
      <ion-nav-view name="my-tab"></ion-nav-view>
    </ion-tab>
    
  </ion-tabs>